<a href="https://colab.research.google.com/github/zawadalam7/Zawad_DTSC3020_Fall2025/blob/main/Assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [7]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

lowest_student = min(grades, key=grades.get)
lowest_grade = grades[lowest_student]

print("The student with the lowest grade is ", lowest_student, " with a grade of ", lowest_grade, ".")

The student with the lowest grade is  Omid  with a grade of  16 .

Exercise 2: print names of students who registered for any course containing "Data"

In [12]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

print("Students enrolled in courses containing 'Data':")
for student, course_list in courses.items():
  for course in course_list:
    if "Data" in course:
      print(student)

Students enrolled in courses containing 'Data':
Sara
Reza

Exercise 3: Print titles of books that are not available.

In [10]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

print("Books that are currently not available:")
for title, info in library.items():
  if not info['available']:
    print(title)

Books that are currently not available:
AI Basics
Math Advanced

Exercise 4: Print names of students who are registered for more than 2 courses.

In [13]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

print("Students registered for more than 2 courses:")
for student, courses in registrations.items():
  if len(courses) > 2:
    print(student)

Students registered for more than 2 courses:
Sara
Lina

Exercise 5: Calculate and print the average grade of the class.

In [14]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

total_grades = sum(grades.values())
num_students = len(grades)
average_grade = total_grades / num_students

print("The average grade of the class is:", average_grade)

The average grade of the class is: 18.1

Exercise 6: Count and print the number of students registered for "Python".

In [15]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

python_students = 0
for student, course_list in courses.items():
  if "Python" in course_list:
    python_students += 1

print("Number of students registered for Python:", python_students)

Number of students registered for Python: 3

Exercise 7: Print titles of books with more than 200 pages.

In [16]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}

print("Books with more than 200 pages:")
for title, pages in book_pages.items():
  if pages > 200:
    print(title)

Books with more than 200 pages:
AI Basics
Math Advanced
Data Science

Exercise 8: Print each student's name and number of registered courses.

In [17]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

for student, course_list in courses.items():
  num_courses = len(course_list)
  print(student, "is registered for", num_courses, "courses.")

Ali is registered for 2 courses.
Sara is registered for 2 courses.
Reza is registered for 2 courses.
Lina is registered for 2 courses.
Omid is registered for 1 courses.