<a href="https://colab.research.google.com/github/zawadalam7/Zawad_DTSC3020_Fall2025/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#(1)
fruits = ["apple", "banana", "orange"]

print("The fruits are:")
for fruit in fruits:
    print(fruit)

The fruits are:
apple
banana
orange

In [ ]:
#(2)
names = ["Josh", "Maria", "Jesse", "Edward"]

names[0] = "Sienna"

print("Updated list of names:", names)

Updated list of names: ['Sienna', 'Maria', 'Jesse', 'Edward']

In [ ]:
#(3)
vehicles = ["car", "bus", "bike", "train", "truck"]

vehicles.append("boat")

print("Updated list of vehicles:", vehicles)

Updated list of vehicles: ['car', 'bus', 'bike', 'train', 'truck', 'boat']

In [ ]:
#(4)
foods = ["burger", "pizza", "pasta", "rice", "taco", "sushi"]

foods.remove("taco")

print("Updated list of foods:", foods)

Updated list of foods: ['burger', 'pizza', 'pasta', 'rice', 'sushi']

In [ ]:
#(5)
cities = ["London", "Paris", "Amsterdam", "Lisbon"]

cities.sort()
print("Alphabetically sorted list of cities:", cities)

cities.reverse()
print("Reversed list of cities:", cities)

Alphabetically sorted list of cities: ['Amsterdam', 'Lisbon', 'London', 'Paris']
Reversed list of cities: ['Paris', 'London', 'Lisbon', 'Amsterdam']

In [ ]:
#(6)
animals= ["dog", "cat", "rabbit"]

print("List of animals:")
for animal in animals:
    print(animal)

List of animals:
dog
cat
rabbit

In [ ]:
#(7)
numbers = [1, 2, 3, 4, 5]

print("List of numbers multiplied by 2:")
for number in numbers:
    print(number * 2)

List of numbers multiplied by 2:
2
4
6
8
10

In [ ]:
#(8)
friends = ["Ronaldo", "Messi", "Neymar", "Bale", "Cole", "Benzema"]

print("List of first 3 friends:", friends[:3])
print("List of last 3 friends:", friends[-3:])

List of first 3 friends: ['Ronaldo', 'Messi', 'Neymar']
List of last 3 friends: ['Bale', 'Cole', 'Benzema']

In [ ]:
#(9)
numbers = list(range(1, 11))

print("List of numbers from 1 to 10:", numbers)

List of numbers from 1 to 10: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#(10)
squares = [x**2 for x in range(1, 6)]

print("Squares of numbers 1-5:", squares)

Squares of numbers 1-5: [1, 4, 9, 16, 25]